.w-container {
  max-width: 1094px;
}

.owl-prev {
  left: 5px;
}

.owl-next {
  right: 5px;
}

.owl-prev, .owl-next {
  background-color: transparent !important;
  position: absolute;
  top: 30%;
}

.owl-prev span, .owl-next span {
  font-size: 40px;
  color: #756B5E;
}

/* PHONE SCREEN */
@media (max-width: 1023px) {
  .h-main {
    min-height: calc(100vh - 892px); /* 72 + 252 = 324 */
  }
  .nav-active {
    color: #333333;
    background-color: #D9D7D4;
  }
}

/* DESKTOP SCREEN */
@media (min-width: 1024px) {
  /* MINIMUM HEIGHT MAIN CONTENT IN DESKTOP SCREEN */
  .h-main {
    min-height: calc(100vh - 252px); /* 72 + 252 = 324 */
  }

  .nav-active {
    color: #F89F39;
    border-bottom: 1.5px solid #F89F39;
  }

  .nav-active:hover {
    color: #F89F39;
  }
}