.w-container {
  max-width: 1110px;
}

#home4.owl-carousel .owl-stage-outer {
  height: calc(100% + 30px);
  margin: -15px;
  padding: 15px;
  width: calc(100% + 30px);
}

#product-banner.owl-carousel .owl-stage-outer {
  height: calc(100% + 30px);
  margin: -15px;
  padding: 15px;
  width: calc(100% + 30px);
}

.owl-prev {
  left: 5px;
}

.owl-next {
  right: 5px;
}

#home1 .owl-prev,
#home1 .owl-next {
  background-color: transparent !important;
  position: absolute;
  top: 35%;
}

#home2 .owl-prev,
#home2 .owl-next {
  background-color: transparent !important;
  position: absolute;
  top: 30%;
}
#product-banner .owl-item img {
  max-width: 600px;
  max-height: 360px;
}

#product-banner .owl-height {
  transition: none;
}

#product-banner .owl-prev,
#product-banner .owl-next {
  background-color: transparent !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev span,
.owl-next span {
  font-size: 40px;
  color: #756B5E;
}

@media (min-width: 540px) {
  .btn-product span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-product span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-product:hover span {
    padding-right: 25px;
    color: #FFFFFF;
  }
  
  .btn-product:hover span:after {
    opacity: 1;
    right: 0;
  }
}

/* PHONE SCREEN */
@media (max-width: 1023px) {
  .h-main {
    min-height: calc(100vh - 892px);
    /* 72 + 252 = 324 */
  }

  .nav-active {
    color: #333333;
    background-color: #D9D7D4;
  }
}

/* DESKTOP SCREEN */
@media (min-width: 1024px) {

  /* MINIMUM HEIGHT MAIN CONTENT IN DESKTOP SCREEN */
  .h-main {
    min-height: calc(100vh - 252px);
    /* 72 + 252 = 324 */
  }

  .nav-active {
    color: #F89F39;
    border-bottom: 1.5px solid #F89F39;
  }

  .nav-active:hover {
    color: #F89F39;
  }
}